{% extends 'SlidesLiveBundle::layout.html.twig' %}

{% block content %}
<div class="navigace">
	<a href="{{ path('administration') }}">Back to administration homepage</a>
</div>

<h2>Administrace</h2>

{% if accountNotFound is defined %}
	<p>This account does not exist.</p>
{% else %}
	<div>
	    <h2>Edit personal data:</h2>
	    {{ accountEditForm.content|raw }}
	</div>
{% endif %}

<a href="{{ path('resetPassword', {'accountId': account.id }) }}">Reset password.</a>
</br>

<h2>Background Image:</h2>
    <table>
      <tr>
        <td>
          <img src="{{ asset(account.getImage('background-images', true)) }}" width="200" alt=""/>
        </td>
        <td>
          {{ uploadBackgroundForm.content|raw }}
        </td>
      </tr>
    </table>
    
    <br>
    <h2>Account Logo:</h2>
    <table>
      <tr>
        <td>
          <img src="{{ asset(account.getImage('logos', true)) }}" width="200" alt=""/>
        </td>
        <td>
          {{ uploadLogoForm.content|raw }}
        </td>
      </tr>
    </table>
    
    <br>
    <h2>Account Avatar:</h2>
    <table>
      <tr>
        <td>
          <img src="{{ asset(account.getImage('avatars', true)) }}" width="200" alt=""/>
        </td>
        <td>
          {{ uploadAvatarForm.content|raw }}
        </td>
      </tr>
    </table>

{% endblock %}