{% extends 'SlidesLiveBundle::layout.html.twig' %}

{% block content %}

<div class="navigace">
	<a href="{{ path('administration') }}">Back to administration homepage</a>
</div>

<h2>Administrace</h2>

{% if password is defined %}
	<h3>Password reset:</h3>
	<p>
		Account {{ account.name }} has now new password: <strong>{{ password }}</strong>
		</br>
		<a href="{{ path('administrationEditAccount', {'accountId': accountId }) }}">Back to account</a>
	</p>
{% else %}
	<p>Account with id {{ accountId }} does not exist.</p>
{% endif %}


{% endblock %}