{% extends 'SlidesLiveBundle::layout.html.twig' %}



{% block javascript %}
  <script type="text/javascript" src="{{ asset('bundles/static/javascript/homepageFunctions.js') }}">
  </script> 
  <script type="text/javascript" src="{{ asset('bundles/jquery.simplemodal.1.4.3.full.js') }}">
  </script>    
  <script type="text/javascript" src="{{ asset('bundles/javascript/presentationTiles.js') }}">
  </script>
      
{% endblock %}

{% block layoutContent %}

<h2 class="globalFont categoryTitleBlock"><a href="{{ path('homepage') }}">Home</a>&raquo;<a href="{{ path('homepage') }}">{{ categoryName }}</a></h2>

{% if presentations|length <= 0 %}
	<h2 class="error globalFont categoryTitleBlock">Jej... this category is empty :( </h2>
{% endif %}

  	  <div class="presentationTileBar clearfix" id="presentationTileBar">
      
        {% for tile in presentations %}
        
          {% set image = tile.getThumbnail(true) %}
          {% if image %}     
		  <a href="{{ url('accountPresentation', {'accountCanName':tile.account.canonicalName, 'presentationId':tile.id }) }}">
            <div class="presentationTile tile_1_1">
				<div class="presentationTileImage" style="background-image:url({{ asset(image) }});">
				</div>
				<div class="presentationTileDescription">
					<div class="presentationTileTitle">


					  {% if tile.showSpeaker %}
						{{ tile.listSpeakersNames }}
					  {% else %}
						{{ tile.title }}
					  {% endif %}
					</div>
				  <a href="{{ url('account', {'accountCanName': tile.account.canonicalName}) }}" class="presentationTileChannel slidesLiveBlue">{{ tile.account.name }}</a>
				</div>
			</div>
			</a>
          {% endif %}

        {% endfor %}
	  </div>
  
{% endblock layoutContent %}    