{% extends 'SlidesLiveBundle::layout.html.twig' %}



{% block javascript %}
  <script type="text/javascript" src="{{ asset('bundles/static/javascript/homepageFunctions.js') }}">
  </script> 
  <script type="text/javascript" src="{{ asset('bundles/jquery.simplemodal.1.4.3.full.js') }}">
  </script>        
{% endblock %}

{% block content %}

HAHAHAHAHAHAHAHAHA Jméno kategorie je: {{ categoryName }}<br />
<img src="http://www.hetemeel.com/archive/haha%20Im%20creating%20dynamic%20IMAGES!!1!.jpg" width="500" />
{% for presentation in presentations %} 
    {% set image = presentation.getThumbnail() %}
	<p>HAHA GUY - {{ presentation.title }} - {{ presentation.account.name }} - <img src="{{ asset(image) }}" width="150" /></p>
{% endfor %} 

  
{% endblock content %}    