{#
  Required values:
    Presentation  presentation | null
    Boolean       isEmbed
#}

{% if not presentation %}
  <div>Presentation not found.</div>
{% endif %}
    <script type="text/javascript">
		var flashvars = {
			hasVideo: "{% if presentation.video %}true{% else %}false{% endif %}",
			hasSlides: "{% if presentation.slides %}true{% else %}false{% endif %}",
			presentationID: "{{ presentation.id }}",
			{% if presentation.externalService != null %}
				mediaType: "{{ presentation.externalService }}",
				mediaID: "{{ presentation.externalServiceId }}",						
			{% else %}
				mediaType: "{{ presentation.service }}",
				mediaID: "{{ presentation.serviceId }}",			
			{% endif %}	
		};
		var params = {
			scale: "exactfit",
			bgcolor: "#1E1E1E"
		};
		var attributes = {};
		
		params.allowscriptaccess = "always";
	
    	swfobject.embedSWF("{{ asset('bundles/slideslive/player/Player_5_THC.swf') }}", "flashResizableContainer", "100%", "100%", "9.0.0", "expressInstall.swf", flashvars, params, attributes);
    </script>  

            <div id="flashResizableContainer">
                <h1>Alternative content</h1>
                <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
            </div> 

{#
<div>
  <pre>
    Player:
    {% if presentation %}
      title: {{ presentation.title }}
      description: {{ presentation.description }}
      account: {{ presentation.account.name }}
      folder: {{ presentation.folder.name }}
      lang: {{ presentation.lang }}
      date recorded: {{ presentation.getFormatedDateTime }}
      service: {{ presentation.service }}
      service id: {{ presentation.serviceId }}
      external service: {{ presentation.externalService }}
      external service id: {{ presentation.externalServiceId }}      
      length: {{ presentation.length }}
      slides: {{ presentation.slides }}
      video: {{ presentation.video }}
      privacy: {{ presentation.privacy }}
      flag: {{ presentation.flag }}
      show speaker: {{ presentation.showSpeaker }}
      speakers: {{ presentation.listSpeakersNames }}
      start slide: {{ presentation.startSlide }}
      auto play: {{ presentation.autoPlay }}
    {% else %}
      Presentation not found.    
    {% endif %}  
  </pre>
</div>
#}