{% extends 'SlidesLiveBundle::layout.html.twig' %}

{# 
  Required values:
    Account|null          account
    array<Folder>         folders
    Presentation|null     presentation
    array<Presentations>  folderPresentations
    String                stylesheet
    Privacy               privacy_mode
#}

{% block generatedStyle %}
  {% include 'SlidesLiveBundle:Default:accountLook.css.twig' with {'account': account} %}
{% endblock %}

{% block title %}
  {% if accountPageOnly %}
    	{% if account is not null %}
			{{ account.name }}
		{% endif %}       
  {% elseif presentation is not null %}
    {% if presentation.listSpeakersNames != '' %}
        {{ presentation.listSpeakersNames }} | 
    {% endif %} 
    {{ presentation.title }}
  {% endif %}
{% endblock %}

{% block facebookMetaTags %}
	{% if presentation is not null %}
		<meta property="og:image" content="http://{{ app.request.host ~ asset(presentation.getThumbnail) }}" />
		<meta property="og:title" content="{{ presentation.title }}" />
		<meta property="og:description" content="{{ presentation.description }}" />		
	{% else %} 
		<meta property="og:title" content="Account page with no presentations" />
		<meta property="og:description" content="No presentations found on this account" />		 
	{% endif %}
{% endblock %}

{% block metaTags %}
	{% if presentation.description is not null %}
		<meta name="description" content="{{ presentation.description }}" />    	
	{% else %} 
		<meta name="description" content="{{ presentation.title }}" />    
	{% endif %}        
{% endblock %}



{% block javascript %}
  <script type="text/javascript" src="{{ asset('bundles/static/javascript/homepageFunctions.js') }}">
  </script> 
  <script type="text/javascript" src="{{ asset('bundles/jquery.simplemodal.1.4.3.full.js') }}">
  </script>      
{% endblock %}

{% block content %}

  {% block accountPanel %}
    <div class="channelPanel">
      <div class="channelGroup">
        <img width="100" height="100" class="channelAvatar" alt="Channel Avatar" src="{{ asset(account.getImage('avatars', true)) }}">
        <div class="channelInfoPanel">
          <div class="channelName">
            {{ account.name }}
          </div>			
        </div>
      </div>
    </div>
  {% endblock accountPanel %}
  
  {% block player %}
    <div class="presentationWrapper clearfix">

      {% if presentation is not null %}
        <div class="gradientWrapper clearfix">
          <div class="gradientLeftPlayer"></div>
          <div class="gradientRightPlayer"></div>
        </div>	
    
        <div class="presentationHeader">
          {{ presentation.listSpeakersNames }} | <span class="metaBlue" itemprop="name">{{ presentation.title }}</span>
        </div>
    
        <div class="playerPanel" id="playerPanel">		
  
    {% if isPresentationReady is defined and isPresentationReady == 2%}	    
			<img src="{{ asset('bundles/generalImages/waiting-for-preze.gif') }}" width="960" height="280"/>
    {% else %}	        
          {% include 'SlidesLiveBundle:Default:player.html.twig' with {'presentation': presentation, 'isEmbed': false} %}
    {% endif %}	                  
        </div>
    
        <div class="presentationDetailsVideo">
          {% if presentation.dateRecorded is not null %}  
            <div class="presentationDescInfo" itemprop="description">
              Uploaded by
              <a href="{{ path('account', {'accountCanName':account.canonicalName} ) }}">{{ account.getName }}</a>
              on {{ presentation.getFormatedDateTime }}
              <br>
              {{ presentation.description }}
            </div>
          {% else %}    
            No presentation avialable {# FIX ME - musi se nahradit solidnim errorem #}
          {% endif %}
        </div>
        	
        <div class="presentationServicesVideo">
          <div class="presentationDescInfo sharePadding">SHARE</div>                
					<a href="http://www.facebook.com/sharer.php?u={{ app.request.uri }}&amp;t=I watched {{ presentation.title|e('html') }} | {{ presentation.listSpeakersNames|e('html') }} at SlidesLive" title="Share to Facebook" target="_blank"><div class="shareFB"></div></a>
  					<a href="" title="Share to Twitter"><div class="shareTwitter"></div></a>
  					<a href="" title="Share to G+"><div class="shareGoogle"></div></a>	
  					<a href="" title="Email to friend"><div class="shareMail"></div></a>
  					<div class="shareEmbed" id="shareEmbed"></div>																		
        </div>
		
		<!-- embed window content -->
		<div id="embedWindowContent">
			<div class="globalFont">
				<h3>Embed code</h3>
				<p>Use following code for displaying this presentation on your website.</p>
			</div>
			{% if presentation.video %}	                
				<p><code>&#60;iframe src="http://slideslive.com/embed/{{ presentation.id }}/700" width="700" height="225" frameborder="0" scrolling="no"&#62;&#60;/iframe&#62;</code></p>
            {% else %}    
				<p><code>&#60;iframe src="http://slideslive.com/embed/{{ presentation.id }}/600" width="600" height="480" frameborder="0" scrolling="no"&#62;&#60;/iframe&#62;</code></p>
            {% endif %}            
		</div>		
		<!-- embed window end -->		
		
    
      {% else %}
        There are no available presentations in this folder.
      {% endif %}	
    </div>	
  {% endblock player %}
  
  
  {% block presentationList %}
    <div class="siteContent clearfix">	
      <div class="hpVideoList">
        {% if folderPresentations is empty %}
          No presentations are available now.
        {% else %}
          {% include 'SlidesLiveBundle:TimelineLayout:Columns.html.twig' with {'boxes': folderPresentations } %}
        {% endif %}
      </div>                                              
    </div>
  {% endblock presentationList %}
  
  {% block sideBar %}
    <div class="channelSidebar">
      <div class="sidebarTop"></div> 
      <div class="channelSidebarContent">
        <h1>About {{ account.name }}</h1>
        <div class="sidebarText">
          {{ account.description }}
        </div>
        <h1>{{ account.name }} folders</h1> 
        <ul class="channelFoldersList">
          {% for folder in folders %}
            <li>
              <a href="{{ path('folder', {'accountCanName':account.canonicalName, 'folderCanName': folder.canonicalName} ) }}">{{ folder.name }}</a>
            </li>
          {% endfor %} 			 
        </ul>
        <br />
      </div>
      <div class="sidebarBottom"></div>
    </div>
  {% endblock sideBar %}
{% endblock content %}    