{#
  Required values:
    Presentation  presentation | null
    Boolean       isEmbed
    Boolean       html5Version    
#}

{% if not presentation %}
  <div>Presentation not found.</div>
{% endif %}
    <script type="text/javascript">
 		var scaledWidth = 700;
		var calculatedWidth = -1;
		
		{% if presentation.externalService != null %}
			var serviceType = "{{ presentation.externalService }}";
			var serviceID = "{{ presentation.externalServiceId }}";						
		{% else %}
			var serviceType = "{{ presentation.service }}";
			var serviceID = "{{ presentation.serviceId }}";			
		{% endif %}			
		 
		
		{% if (presentation.video) and not (presentation.slides) %}
			calculatedWidth = playerDimensionsAccordingScreen("VIDEO");
		{% elseif (presentation.slides) and not (presentation.video) %}
			calculatedWidth = playerDimensionsAccordingScreen("AUDIO");		
		{% else %}
			calculatedWidth = playerDimensionsAccordingScreen("AUDIOVIDEO");		
		{% endif %}		
		
		if(calculatedWidth != -1) scaledWidth = calculatedWidth;
		
		{% if forcedWidth is defined %}	    
			scaledWidth = {{ forcedWidth }};
		{% endif %}		
	
		var flashvars = {
			hasVideo: "{% if presentation.video %}true{% else %}false{% endif %}",
			hasSlides: "{% if presentation.slides %}true{% else %}false{% endif %}",
			presentationID: "{{ presentation.id }}",
			mediaType: serviceType,
			mediaID: serviceID,						
			widthScale: scaledWidth,				
		};
		var params = {
			scale: "exactfit",
			bgcolor: "#1E1E1E",
			allowscriptaccess: "always",
			allowFullScreen: "true",			
		};
		var attributes = {};
		{% if html5Version %}
				console.log("Loading HTML5 player");			
				loadPlayer5_thc("flashResizableContainer","{{ presentation.id }}",serviceType,serviceID);					
		{% else %}
			if (swfobject.hasFlashPlayerVersion("9.0.18")) {
				console.log("Has flash");
				swfobject.embedSWF("{{ asset('bundles/player/Player_5_THC.swf') }}", "flashResizableContainer", "100%", "100%", "9.0.0", "expressInstall.swf", flashvars, params, attributes);
			} else {
				console.log("Flash disabled");			
				loadPlayer5_thc("flashResizableContainer","{{ presentation.id }}",serviceType,serviceID);							
			}
		{% endif %}
    	
    </script>  
            <div id="flashResizableContainer" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">       
            <meta itemprop="thumbnailUrl" content="http://{{ app.request.host ~ asset(presentation.getThumbnail) }}" />
            <meta itemprop="embedURL" content="http://www.slideslive.com/embed/{{ presentation.id }}" />
            <meta itemprop="uploadDate" content="{{ presentation.getFormatedDateTime }}" />
            <meta itemprop="height" content="960" />
            <meta itemprop="width" content="300" />          
                <h1>Ouch :( Flash player did not load properly. Do you have latest version installed?</h1>
                <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
            </div> 