<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="google-site-verification" content="k6rQywy6tzc20h1fL1H7XlLoS2A1vX7mdGl46rbMG24" />
	<link href='http://fonts.googleapis.com/css?family=Ropa+Sans:400,400italic|Homenaje' rel='stylesheet' type='text/css'>  
  {% block facebookMetaTags %}{% endblock %}
    
  {% block stylesheetBase %}
      <link href="{{ asset('bundles/general.css') }}" rel="stylesheet" type="text/css">
      {% block stylesheet %}{% endblock %}
  {% endblock %}
  
  {% block javascriptBase %}
		<script type="text/javascript" src="{{ asset('bundles/jquery-1.8.0.min.js') }}">
		</script>    
		<script type="text/javascript" src="{{ asset('bundles/googleAnalytics.js') }}">
		</script>  
		<script type="text/javascript" src="{{ asset('bundles/jquery.client.js') }}">
		</script>  		  		
		<script type="text/javascript" src="{{ asset('bundles/generalFunctions.js') }}">
		</script> 
		<script type="text/javascript" src="{{ asset('bundles/swfobject.js') }}">
		</script>  			 		  				
      {% block javascript %}{% endblock %}
  {% endblock %}

  <style>
    {% block generatedStyle %}{% endblock %}
  </style>  
  
  {% block favicon %}
      <link href="{{ asset('bundles/favicon-sl-1.png') }}" rel="icon" type="image/png" />
  {% endblock %}
   
  <title>
      {% block titleBase %}
        SlidesLive - Helping you record and spread knowledge
          {% block title %}
            {# Online education platform #}
          {% endblock %}
      {% endblock %}
  </title>

</head>

<body>

    {# Page header #}
	
	<div class="fixedHeader">
		<div class="headerContent">
			<div class="slidesLiveLogo"><a href="{{ path('homepage') }}"><img src="{{ asset('bundles/static/images/logo-header-beta.png') }}" border="0" /></a><div class="logoBeta slidesLiveBlue">Beta</div></div>
            <div class="headerMenuWraper">
                <a href="http://slideslive.com/SlidesLiveData/SL_Recorder/SL_AllPlatforms.zip" id="downloadButtonLink2" style="margin-right:30px; color:#FFF" class="headerMenu globalFont"  onClick="javascript: _gaq.push(['_trackPageview', '/appDownload/topMenu']);">Download Free App</a>               
                <a href="{{ path('tour') }}" style="margin-right:30px;" class="headerMenu globalFont">How It Works</a>
                <a href="{{ path('about') }}" style="margin-right:30px;" class="headerMenu globalFont">About</a>
                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                  <a href="{{ path('manageAccount') }}" class="headerMenu globalFont slidesLiveBlue">{{ app.user.username }}</a>
                  <span class="headerMenu globalFont slidesLiveBlue"> / </span> 
            			<a href="{{ path('logout') }}" style="display:inline;" class="headerMenu globalFont slidesLiveBlue">Logout</a>
                {% else %}
            			<a href="{{ path('login') }}" style="display:inline;" class="headerMenu globalFont slidesLiveBlue">Login</a>
                {% endif %}  				                        
            </div>
        </div>
    </div>	
	
    {% block accountHeader %}
			{% if is_granted('ROLE_USER') %}
			   <div class="accountServiceBar">
			   <div class="accountBarContent">
				   <div class="accountBarMenu">
					 <a href="{{ path('account', {'accountCanName': app.user.canonicalName}) }}">{{ app.user.name }}</a>|			   
					 <a href="{{ path('managePresentations', {'presentationId':-1}) }}">My Presentations</a>|
					 <a href="{{ path('manageAccount') }}">Settings</a>

				   </div>
			   </div>
			   </div>			   
		   {% endif %}	
	{% endblock %}	
	
      
        {# Page content #}     
		

		{% if is_granted('ROLE_USER') %}
			<div class="accountServiceBarTopSpace"></div>
		{% endif %}

			
        {% block layoutContent %}
		{% endblock %}

        {# Page footer #}        
	<div class="siteFooter">
  		<div class="footerContent"><div class="footerText">&#169; 2012 SlidesLive.com. All rights reserved.</div></div>
    </div>        
    
    {% block javascripts %}{% endblock %}
    
</body>
</html>
