<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://opengraphprotocol.org/schema/">
<head>
  <meta charset="utf-8" />  
  <meta name="google-site-verification" content="k6rQywy6tzc20h1fL1H7XlLoS2A1vX7mdGl46rbMG24" />
	<link href='http://fonts.googleapis.com/css?family=Ropa+Sans:400,400italic|Homenaje|Play:400,700' rel='stylesheet' type='text/css' />    
      <link href="{{ asset('bundles/general.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ asset('bundles/slideslive/css/landingPage.css') }}" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{{ asset('bundles/jquery-1.8.0.min.js') }}">
		</script>    
		<script type="text/javascript" src="{{ asset('bundles/googleAnalytics.js') }}">
		</script>  
		<script type="text/javascript" src="{{ asset('bundles/jquery.client.js') }}">
		</script>  		  		
		<script type="text/javascript" src="{{ asset('bundles/embedPresentation_1_1.js') }}">
		</script> 
		<script type="text/javascript" src="{{ asset('bundles/landingPages.js') }}">
		</script>         
        			 		  				
    <link href="{{ asset('bundles/favicon-sl-1.png') }}" rel="icon" type="image/png" />
    <title>Join the EDU movement!</title>
</head>

<body>
<div id="blueTopBar">
	<div class="blueTopActionBar globalFont">Join the EDU Revolution! <a href="mailto:vojta@slideslive.com">Get in touch</a></div>
</div>

<div class="topBar clearfix conferenceBG">
    <div class="topCenterImage conferenceBGImage center">
    <div class="lp-headerText globalFont">Welcome to<br /> a more engaging<br />learning experience</div>
    <div class="lp-join globalFont"><a href="http://slideslive.com/" target="_blank">Join the EDU Revolution!</a></div>
    </div>
</div>

<div class="lp-title globalFont center">One place, one click</div>
<div class="lp-subtitle globalFont center slidesLiveBlue">Ready to start your new learning experience?</div>

<div class="lp-centerWrapper center">
	<img alt="OI account logo" class="lp-accountLogo" width="194" height="62" src="{{ asset('bundles/slideslive/images/landingpage/logo-pionnrs.jpg') }}" />
    <div class="lp-presentationTitle globalFont">Pioneers Festival<br />
	Fadi Bishara &#124; <span class="slidesLiveBlue">Air Traffic: Who controls What?</span></div>
</div>


<div class="embedWrapper">
<script type="text/javascript" id="sle81767">
	embedConferencePresentation();
</script>
</div>

<h2 class="globalFont center slidesLiveBlue">All you need ...</h2>
<img alt="You need laptop app and camera only" class="center" src="{{ asset('bundles/slideslive/images/need.jpg') }}" />


<div class="lp-centerWrapper">
    <div class="lp-centerWrapper-content clearfix">
        <div class="generalButton center">
            <a href="mailto:vojta@slideslive.com" target="_blank" class="generalButtonText">I want this technology</a>       
        </div>   
    </div>    
</div>


<div class="videoSlideBar">
<div class="lp-centerWrapper">
    <div class="lp-centerWrapper-content clearfix">
        <div class="lp-featureBox">
            <div class="lp-videoSlide globalFont center lp-textContentBox"><span class="slidesLiveBlue">One place</span> - Traditional videos only tell half of the story, especially for detailed presentations.<br /><br />But with SlidesLive, you can have it all video and slides - in a single package.</div>
        </div>
        <div class="lp-featureBox">
            <img alt="Video plus slides" src="{{ asset('bundles/slideslive/images/landingpage/conf-video-slides.jpg') }}" class="videoSlideImage" />
        </div>        
    </div>    
</div>
</div>

<div class="lp-centerWrapper">
    <div class="lp-centerWrapper-content clearfix">
        <div class="lp-featureBox">
            <img alt="Video plus slides" src="{{ asset('bundles/slideslive/images/landingpage/money.jpg') }}" class="videoSlideImage" />
        </div>       
        <div class="lp-featureBox">
            <div class="lp-videoSlide globalFont center lp-textContentBox"><span class="slidesLiveBlue">No format hassles</span> - SlidesLive records all visual elements regardless of format.<br /><br />Wether presenting PDF of PPT slides, JPEG photos, showing an HTML website, or switching between text and spreadsheets - SlidesLive has you covered.</div>       
        </div>     
    </div>    
</div>

<div class="lp-centerWrapper">
    <div class="lp-centerWrapper-content clearfix">
        <div class="lp-featureBox">
            <div class="lp-videoSlide globalFont center lp-textContentBox"><span class="slidesLiveBlue">No format hassles</span> - SlidesLive records all visual elements regardless of format.<br /><br />Wether presenting PDF of PPT slides, JPEG photos, showing an HTML website, or switching between text and spreadsheets - SlidesLive has you covered.</div>       
        </div>       
        <div class="lp-featureBox">
            <img alt="Video plus slides" src="{{ asset('bundles/slideslive/images/landingpage/no-formats-white.jpg') }}" class="videoSlideImage" />
        </div>         
    </div>    
</div>


<div class="lp-centerWrapper">
    <div class="lp-centerWrapper-content clearfix">       
        <div class="lp-featureBox">
            <img alt="Video plus slides" src="{{ asset('bundles/slideslive/images/landingpage/no-edit-white.jpg') }}" class="videoSlideImage" />
        </div>  
        <div class="lp-featureBox">
            <div class="lp-videoSlide globalFont center lp-textContentBox"><span class="slidesLiveBlue">No post presentation headaches</span> - After completing your presentation, just stop recording. With both audio and slides on a simple timeline, it's easy to edit those first and final moments<br /><br />After uploading, the newly synchronized audio slideshow will be available in your account within minutes.</div>       
        </div>                  
    </div>    
</div>

<div class="footerBlue"></div>
<div class="footerBlack">
<img alt="SlidesLive footer logo" class="footerLogo center" src="{{ asset('bundles/slideslive/images/sl-logo.png') }}" />
</div>
    
</body>
</html>
