<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://opengraphprotocol.org/schema/">
<head>
  <meta charset="utf-8" />  
  <meta name="google-site-verification" content="k6rQywy6tzc20h1fL1H7XlLoS2A1vX7mdGl46rbMG24" />
	<link href='http://fonts.googleapis.com/css?family=Ropa+Sans:400,400italic|Homenaje|Play:400,700' rel='stylesheet' type='text/css' />    
      <link href="{{ asset('bundles/general.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ asset('bundles/slideslive/css/landingPage.css') }}" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{{ asset('bundles/jquery-1.8.0.min.js') }}">
		</script>    
		<script type="text/javascript" src="{{ asset('bundles/googleAnalytics.js') }}">
		</script>  
		<script type="text/javascript" src="{{ asset('bundles/jquery.client.js') }}">
		</script>  		  		
		<script type="text/javascript" src="{{ asset('bundles/embedPresentation_1_1.js') }}">
		</script> 
		<script type="text/javascript" src="{{ asset('bundles/landingPages.js') }}">
		</script>         
        			 		  				
    <link href="{{ asset('bundles/favicon-sl-1.png') }}" rel="icon" type="image/png" />
    <title>Join the EDU movement!</title>
</head>

<body>
<div class="blueTopBar">
	<div class="blueTopActionBar globalFont">Join The EDU Revolution! Contact us</div>
</div>

<div class="topBar clearfix">
<div class="topCenterImage center">
<div class="lp-headerText globalFont">Welcome to<br /> a more engaging<br />learning experience</div>
<div class="lp-join globalFont"><a href="http://slideslive.com/" target="_blank">Join the EDU Revolution!</a></div>
</div>
</div>

<div class="lp-title globalFont center">Ready to start your new learning experience?</div>

<div class="embedWrapper">
<script type="text/javascript" id="sle81767">
	embedSchoolPresentation();
</script>
</div>

<div class="lp-title globalFont center">All you need is a laptop,<br />SlidesLive app and a camera</div>
<img alt="You need laptop app and camera only" class="center" src="{{ asset('bundles/slideslive/images/need.jpg') }}" />

<div class="videoSlideBar">
<div class="lp-centerWrapper">
    <div class="lp-centerWrapper-content clearfix">
		<img alt="Video plus slides" src="{{ asset('bundles/slideslive/images/video-plus-slides-f4f4f5.jpg') }}" class="videoSlideImage" />
        <div class="wrapperTmp">
            <div class="lp-videoSlide globalFont center">Traditional videos only tell half of the story,<br />especially for detailed presentations.<br /><br />But with SlidesLive, you can have it all<br /> - video and slides - in a single package.</div>       
        </div>   
    </div>    
</div>
</div>

<div class="lp-title globalFont center">The schools and universities that are already on board</div>
<div class="videoSlideBar">
<img alt="You need laptop app and camera only" class="center" src="{{ asset('bundles/slideslive/images/partners-schools.jpg') }}" />
</div>

<div class="lp-centerWrapper">
    <div class="lp-centerWrapper-content clearfix">
       <div class="lp-title lp-title-down globalFont">Purchasing for your schools or university?</div>
        <div class="generalButton">
            <a href="mailto:vojta@slideslive.com" target="_blank" class="generalButtonText">Contact us</a>       
        </div>   
    </div>    
</div>

<div class="footerBlue"></div>
<div class="footerBlack">
<img alt="SlidesLive footer logo" class="footerLogo center" src="{{ asset('bundles/slideslive/images/sl-logo.png') }}" />
</div>
    
</body>
</html>
