<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://opengraphprotocol.org/schema/">
<head>
  <meta charset="utf-8" />  
  <meta name="google-site-verification" content="k6rQywy6tzc20h1fL1H7XlLoS2A1vX7mdGl46rbMG24" />
	<link href='http://fonts.googleapis.com/css?family=Ropa+Sans:400,400italic|Homenaje|Play:400,700' rel='stylesheet' type='text/css' />    
      <link href="{{ asset('bundles/general.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ asset('bundles/slideslive/css/landingPage.css') }}" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{{ asset('bundles/jquery-1.8.0.min.js') }}">
		</script>    
		<script type="text/javascript" src="{{ asset('bundles/googleAnalytics.js') }}">
		</script>  
		<script type="text/javascript" src="{{ asset('bundles/jquery.client.js') }}">
		</script>  		  		
		<script type="text/javascript" src="{{ asset('bundles/embedPresentation_1_1.js') }}">
		</script> 
		<script type="text/javascript" src="{{ asset('bundles/landingPages.js') }}">
		</script>         
        			 		  				
    <link href="{{ asset('bundles/favicon-sl-1.png') }}" rel="icon" type="image/png" />
    <title>SlidesLive - Join the EDU movement!</title>
</head>

<body>
<div id="blueTopBar">
	<div class="blueTopActionBar globalFont">Join the EDU Revolution! <a href="mailto:vojta@slideslive.com" target="_blank" onClick="javascript: _gaq.push(['_trackPageview', '/lp-school/want/topBar']);">Get in touch</a></div>
</div>

<div class="topBar clearfix schoolsBG">
    <div class="topCenterImage schoolsBGImage center">
    <a href="http://slideslive.com/openinformatics" target="_blank" class="notebookButton" onClick="javascript: _gaq.push(['_trackPageview', '/lp-school/notebookAccount']);"></a>
    <div class="lp-headerMessageWrapper">
        <div class="lp-headerText globalFont">Welcome to<br /> a more engaging<br />learning experience</div>
        <div class="lp-join globalFont"><a href="mailto:vojta@slideslive.com" target="_blank" onClick="javascript: _gaq.push(['_trackPageview', '/lp-school/want/headerMessage']);">Join the EDU Revolution!</a></div>
	</div>        
    </div>
</div>


<div class="tableWrapper center">
	<div class="clearfix">
        <div class="onePlaceLeft">
            <div class="lp-title globalFont center">One place, one click</div>
            <div class="lp-subtitle globalFont center slidesLiveBlue">Ready to start a new learning experience?</div>
        </div>
        <div class="onePlaceRight">
            <div id="circleArrow" class="circleArrow center"><div class="arrowObject center"></div></div>
        </div>
    </div>
</div>


<div class="videoSlideBar">
<div class="horizontalLineTop" id="embedPoint"></div>
<div class="lp-centerWrapper center">
	<a href="http://slideslive.com/OpenInformatics"¨ target="_blank"><img alt="OI account logo" class="lp-accountLogo" width="71" height="71" src="{{ asset('bundles/slideslive/images/landingpage/logo-oi.jpg') }}" /></a>
    <div class="lp-presentationTitle globalFont">Open Informatics<br />
	Kagan Tumer &#124; <span class="slidesLiveBlue">Air Traffic: Who controls What?</span></div>
    
	<div class="tryThisBox" id="tryThisBox"></div>    
</div>

<div class="embedWrapper">
<script type="text/javascript" id="sle81767">
	embedSchoolPresentation();
</script>
</div>
<div class="horizontalLineBottom"></div>
</div>

<h2 class="globalFont center slidesLiveBlue">All you need ...</h2>
<img alt="You need laptop app and camera only" class="center" src="{{ asset('bundles/slideslive/images/need.jpg') }}" />

<div class="videoSlideBar">
<div class="horizontalLineTop"></div>
<div class="lp-centerWrapper">
    <div class="lp-centerWrapper-content clearfix">
        <div class="lp-featureBox lp-textContent">
            <div class="lp-videoSlide globalFont center lp-textContentBox"><span class="slidesLiveBlue">One place</span> - Traditional videos only tell half of the story, especially for detailed presentations.<br /><br />But with SlidesLive, you can have it all video and slides - in a single package.</div>
        </div>
        <div class="lp-featureBox">
            <img alt="Video plus slides" src="{{ asset('bundles/slideslive/images/landingpage/video-plus-slides-f4f4f5.jpg') }}" class="videoSlideImage videoSlideImageSpecial" />
        </div>        
    </div>    
</div>
<div class="horizontalLineBottom"></div>
</div>

<div class="lp-centerWrapper">
    <div class="lp-centerWrapper-content clearfix">
        <div class="lp-featureBox">
            <img alt="Video plus slides" src="{{ asset('bundles/slideslive/images/landingpage/no-formats-white.jpg') }}" class="videoSlideImage" />
        </div>       
        <div class="lp-featureBox lp-textContent">
            <div class="lp-videoSlide globalFont center lp-textContentBox"><span class="slidesLiveBlue">No format hassles</span> - SlidesLive records all visual elements regardless of format.<br /><br />Wether presenting PDF of PPT slides, JPEG photos, showing an HTML website, or switching between text and spreadsheets - SlidesLive has you covered.</div>       
        </div>     
    </div>    
</div>


<div class="videoSlideBar">
<div class="horizontalLineTop"></div>
<div class="lp-centerWrapper">
    <div class="lp-centerWrapper-content clearfix">    
        <div class="lp-featureBox lp-textContent">
            <div class="lp-videoSlide globalFont center lp-textContentBox"><span class="slidesLiveBlue">No post presentation headaches</span> - After completing your presentation, just stop recording. With both audio and slides on a simple timeline, it's easy to edit those first and final moments.<br /><br />After uploading, the newly synchronized audio slideshow will be available in your account within minutes.</div>       
        </div>     
        <div class="lp-featureBox">
            <img alt="Video plus slides" src="{{ asset('bundles/slideslive/images/landingpage/no-edit-grey.jpg') }}" class="videoSlideImage" />
        </div>          
    </div>    
</div>
<div class="horizontalLineBottom"></div>
</div>


<h3 class="globalFont center">The schools and universities that are already on board.</h3>
<div class="lp-centerWrapper">
    <div class="lp-centerWrapper-content clearfix">    
        <a href="http://www.stanford.edu/" target="_blank" class="academicBlock academicPartner1"></a>
        <a href="http://www.wikipedia.org/" target="_blank" class="academicBlock academicPartner2"></a>
        <a href="http://www.cvut.cz/en?set_language=en" target="_blank" class="academicBlock academicPartner3"></a>
        <a href="http://www.natur.cuni.cz/eng?set_language=en" target="_blank" class="academicBlock academicPartner4"></a>          
    </div>    
</div>       

<div class="lp-centerWrapper">
    <div class="lp-centerWrapper-content bottomBuySpecial clearfix">        
		<h3 class="lp-title-down globalFont">Purchasing for your schools or university?  <a href="mailto:vojta@slideslive.com" target="_blank" class="slidesLiveButton globalFont" id="contactUs" onClick="javascript: _gaq.push(['_trackPageview', '/lp-school/want/bottomButton']);">Contact us</a>  </h3>
	</div>  
</div>

<div class="footerBlue"></div>
<div class="footerBlack">
<a href="http://slideslive.com" target="_blank"><img alt="SlidesLive footer logo" class="footerLogo center" src="{{ asset('bundles/slideslive/images/landingpage/SlidesLive-footer-logo.png') }}" /></a>
</div>
    
</body>
</html>
