<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://opengraphprotocol.org/schema/">
<head>
  <meta charset="utf-8" />  
  <meta name="google-site-verification" content="k6rQywy6tzc20h1fL1H7XlLoS2A1vX7mdGl46rbMG24" />
	<link href='http://fonts.googleapis.com/css?family=Ropa+Sans:400,400italic|Homenaje|Play:400,700' rel='stylesheet' type='text/css' />    
      <link href="{{ asset('bundles/general.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ asset('bundles/slideslive/css/landingPage.css') }}" rel="stylesheet" type="text/css" />      
		<script type="text/javascript" src="{{ asset('bundles/jquery-1.8.0.min.js') }}">
		</script>    
		<script type="text/javascript" src="{{ asset('bundles/googleAnalytics.js') }}">
		</script>  
		<script type="text/javascript" src="{{ asset('bundles/jquery.client.js') }}">
		</script>  		  		
		<script type="text/javascript" src="{{ asset('bundles/embedPresentation_1_1.js') }}">
		</script> 
		<script type="text/javascript" src="{{ asset('bundles/landingPages.js') }}">
		</script>         
        			 		  				
    <link href="{{ asset('bundles/favicon-sl-1.png') }}" rel="icon" type="image/png" />
    <title>Join the EDU movement!</title>
</head>

<body>
<div class="topBar clearfix">
<div class="topCenterImage center"></div>
</div>
<div class="embedWrapper">
<script type="text/javascript" id="sle81767">
	embedSchoolPresentation();
</script>
</div>

<div class="imageBar">
<img alt="Video plus slides" src="{{ asset('bundles/slideslive/') }}"
</div>

    
</body>
</html>
