{% extends 'StaticBundle::layout.html.twig' %}

  {% block javascript %}
    <script type="text/javascript" src="{{ asset('bundles/static/javascript/homepageTiles.js') }}">
    </script>
  {% endblock %}
  
  {% block stylesheet %}
	{{ parent() }}  
    <link href="{{ asset('bundles/slideslive/css/formsNew.css') }}" rel="stylesheet" type="text/css"/>	
  {% endblock %}  

{% block content %}

  <div class="preloader"></div>
  <div class="websiteBackground"></div>

  <div class="websiteLightBackground firstBlockTop">
    <div class="blockCenterWrapper">
	  <div class="leftHalf">
	      <h1 class="globalFont left"><span class="slidesLiveBlue"> Record that moment.</span><br /></h1>
          <div class="featureBody">SlidesLive is a new recording tool that helps you record and share your ideas. Get started</div>
	  </div>

	  <div class="rightHalf">
		{% if downloadForm is defined %}
		<form action="{{ path('homepage') }}" method='POST'  class="downloadForm center" {{ form_enctype(downloadForm) }} onSubmit="javascript: _gaq.push(['_trackPageview', '/appDownload/mainButton']);">
		  <div class="errory">{{ form_errors(downloadForm) }}</div>
          
		  <input class="downloadFormButton center downloadFormButtonText" type="submit" value="Download Free App" onClick="alert(\"ahoj\");" formnovalidate />
		  <div class="homepageDownloadApp">
			{{ form_errors(downloadForm.email) }}
			{{ form_label(downloadForm.email)  }}
			{{ form_widget(downloadForm.email,{ 'attr' : { 'class' : 'testClass' } })}}
		  </div>

		  {{ form_rest(downloadForm) }}
		</form>
		{% else %}
		<a href="{{ path('thankyou') }}" id="downloadButtonLink" class="buttonLink" onClick="javascript: _gaq.push(['_trackPageview', '/appDownload/mainButton']);">
			<div class="downloadButton center">
			  <div class="downloadButtonText">Download Free App</div>
			</div>
		</a>
		{% endif %}


	      <div class="downloadText"><a href="http://slideslive.com/data/SL_Recorder/SL_Windows.zip" onClick="javascript: _gaq.push(['_trackPageview', '/appDownload/subButtonWin']);">For Windows (XP+)</a> | <a href="http://slideslive.com/data/SL_Recorder/SlidesLive-Mac.dmg" onClick="javascript: _gaq.push(['_trackPageview', '/appDownload/subButtonMac']);">For MacOS (10.6+)</a></div>
	  </div>
    </div>
  </div>

  <div class="websiteLightBackground firstBlockTop">
  
  	  <div class="showcaseBar clearfix" id="showcaseBar">
      
{% for category in categories %} 
	<p>HAHA GUY - {{ category.name}}</p>
{% endfor %} 
      
        {% for box in presentationBoxes %}

       	    {% set currentTileIndex = loop.index %}

            {% for position in categoryPositions %}
                {% if currentTileIndex == position %}

                <a href="#">
                <div class="showcaseBox tile_1_1 categoryTile">
                    {% if currentTileIndex == categoryPositions[1] %}
                        <div class="showcaseBoxImage" style="background-image:url({{ asset('bundles/static/images/business.png')}});"></div>
                    {% elseif currentTileIndex == categoryPositions[2] %}
                        <div class="showcaseBoxImage" style="background-image:url({{ asset('bundles/static/images/design.png')}});"></div>
                    {% elseif currentTileIndex == categoryPositions[3] %}
                        <div class="showcaseBoxImage" style="background-image:url({{ asset('bundles/static/images/science.png')}});"></div>
                    {% elseif currentTileIndex == categoryPositions[4] %}
                        <div class="showcaseBoxImage" style="background-image:url({{ asset('bundles/static/images/global-issues.png')}});"></div>
                    {% elseif currentTileIndex == categoryPositions[5] %}
                        <div class="showcaseBoxImage" style="background-image:url({{ asset('bundles/static/images/technology.png')}});"></div>
                    {% elseif currentTileIndex == categoryPositions[6] %}
                        <div class="showcaseBoxImage" style="background-image:url({{ asset('bundles/static/images/edu.png')}});"></div>
                    {% else %}

                    {% endif %}
                </div>
                </a>

                {% endif %}
            {% endfor %}


          {% set image = box.presentation.getThumbnail() %}
          {% if image %}
		  <a href="{{ url('accountPresentation', {'accountCanName':box.presentation.account.canonicalName, 'presentationId':box.presentation.id }) }}">
            <div class="showcaseBox tile_1_1">
				<div class="showcaseBoxImage" style="background-image:url({{ asset(image) }});">
				</div>
				<div class="showcaseBoxDescription">
					<div class="showcaseTitle">


					  {% if box.presentation.showSpeaker %}
						{{ box.presentation.listSpeakersNames }}
					  {% else %}
						{{ box.presentation.title }}
					  {% endif %}
					</div>
				  <a href="{{ url('account', {'accountCanName': box.presentation.account.canonicalName}) }}" class="showcaseChannel slidesLiveBlue">{{ box.presentation.account.name }}</a>
				</div>
			</div>
			</a>
          {% endif %}

        {% endfor %}
	  </div>

  </div>


  <div class="websiteDarkBackground">
    <div class="blockCenterWrapper">

    <a href="" target="_blank" id="quotesLink">
      <div class="quoteBox center" id="quoteBox">
      	<div id="quoteAnimationWrapper">
            <div class="quotesText">One button recording and a seriously easy editing tool.<br />Publishing a talk doesn't get any easier.</div>
            <div class="quotesAuthor">Lyle Frink<br />The DEMOCOACH</div>
        </div>
      </div>
      </a>
    </div>
  </div>



{% endblock %}

