{% extends 'StaticBundle::layout.html.twig' %}

  {% block javascript %}
    <script type="text/javascript" src="{{ asset('bundles/static/javascript/homepageTiles.js') }}">
    </script>      
  {% endblock %}

{% block content %}

  <div class="preloader"></div>
  <div class="websiteBackground"></div>  
  
  <div class="websiteLightBackground firstBlockTop">
    <div class="blockCenterWrapper">
	  <div class="leftHalf">    	
	      <h1 class="globalFont left">Helping you<br /> <span class="slidesLiveBlue"> record and spread </span><br />knowledge.</h1>
	 </div>

	  <div class="rightHalf">    
		  <a href="{{ path('thankyou') }}" id="downloadButtonLink" class="buttonLink" onClick="javascript: _gaq.push(['_trackPageview', '/appDownload/mainButton']);">
			<div class="downloadButton center">
			  <div class="downloadButtonText">Download Free App</div>       
			</div>
		  </a>
      

	      <div class="downloadText"><a href="http://slideslive.com/data/SL_Recorder/SL_Windows.zip" onClick="javascript: _gaq.push(['_trackPageview', '/appDownload/subButtonWin']);">For Windows (XP+)</a> | <a href="http://slideslive.com/data/SL_Recorder/SlidesLive-Mac.dmg" onClick="javascript: _gaq.push(['_trackPageview', '/appDownload/subButtonMac']);">For MacOS (10.6+)</a></div>	                                   
	  </div>
    </div> 
  </div>
  
  <div class="websiteLightBackground firstBlockTop">
  	  <div class="showcaseBar clearfix" id="showcaseBar">
        {% for box in presentationBoxes %}
		{% if loop.index % 4 == 5%}  
        
      <a href="#">
        <div class="showcaseBox tile_1_1 categoryTile">
            <div class="showcaseBoxImage" style="background-image:url({{ asset('bundles/static/images/business.png')}});">
            </div>
           	
        </div>
        </a>	      
        
        
        
        {% else %}      
        
          {% set image = box.presentation.getThumbnail() %}
          {% if image %}
		  <a href="{{ url('accountPresentation', {'accountCanName':box.presentation.account.canonicalName, 'presentationId':box.presentation.id }) }}">
            <div class="showcaseBox tile_1_1">
				<div class="showcaseBoxImage" style="background-image:url({{ asset(image) }});">
				</div>
				<div class="showcaseBoxDescription">
					<div class="showcaseTitle">
					  {% if box.presentation.showSpeaker %}
						{{ box.presentation.listSpeakersNames }}  
					  {% else %}
						{{ box.presentation.title }}  
					  {% endif %}
					</div>	  
				  <a href="{{ url('account', {'accountCanName': box.presentation.account.canonicalName}) }}" class="showcaseChannel slidesLiveBlue">{{ box.presentation.account.name }}</a>											  
				</div>			
			</div>
			</a>			
          {% endif %}
          
         {% endif %}          
        {% endfor %}							
	  </div>
	  	  
  </div>  

  
  <div class="websiteDarkBackground">
    <div class="blockCenterWrapper">
      <div class="lylesBox center">
        <div class="quotesText">One button recording and a seriously easy editing tool.<br />Publishing a talk doesn't get any easier.</div>
      </div>
    </div>
  </div>  
  
  

{% endblock %}

