{% extends 'StaticBundle::layout.html.twig' %}

{% block content %}

    <div class="websiteLightBackground firstBlockTop">
    	<div class="blockCenterWrapper">    
            <h1 class="globalFont center">Get in <span class="slidesLiveBlue">Sync.</span><br />Speech, Slides and Video</h1>
            <div class="featureSetWrapper clearfix">
				<div class="featureWrapper clearfix">
					<div class="featureBox featureLeft">
						<div class="featureHeadline"><span class="slidesLiveBlue">Get it</span> on</div>
						<div class="featureBody">SlidesLive is a highly portable app that can be saved on a USB stick and easily moved between computers - no installation required. Before starting your talk, just press the record button. It’s that simple.   </div>                                     
					</div>   
					<div class="featureBox">                                   
						<img src="{{ asset('bundles/static/images/get-it.png') }}" width="320" height="245" />
					</div> 
				</div>	
				
				<div class="featureWrapper clearfix">								
					<div class="featureBox">                                   
						<img src="{{ asset('bundles/static/images/tour-images_06.png') }}" width="320" height="245" />
					</div>  							 				
					<div class="featureBox featureRight">
						<div class="featureHeadline"><span class="slidesLiveBlue">No format</span> hassles</div>
						<div class="featureBody">SlideLive records all visual elements regardless of format. Whether presenting PDF or PPT slides, JPEG photos, showing an HTML website, or switching between text and spreadsheets - SlidesLive has you covered.  </div>                    
					</div> 
				</div>	
				
				<div class="featureWrapper clearfix">						
					<div class="featureBox featureLeft">
						<div class="featureHeadline"><span class="slidesLiveBlue">Eminently</span> presentable</div>
						<div class="featureBody">Presentations are recorded by SlideLive whether or not you’re online. With everything stored on your computer for easy uploading afterwards, don’t worry about the internet connection. Just present yourself.</div>                    
					</div> 
					<div class="featureBox">                                   
						<img src="{{ asset('bundles/static/images/eminently.png') }}" width="320" height="245" />
					</div> 
				</div>	
				
				<div class="featureWrapper clearfix">						
					<div class="featureBox">                                   
						<img src="{{ asset('bundles/static/images/tour-images_11.png') }}" width="475" height="245" />
					</div>  				
					<div class="featureBox featureRight">
						<div class="featureHeadline"><span class="slidesLiveBlue">No</span> post-presentation <span class="slidesLiveBlue">headaches</span></div>
						<div class="featureBody">fter completing your presentation, just stop recording. With both audio and slides on a simple timeline, it’s easy to edit those first and final moments. After uploading, the newly synchronized audio slideshow will be available in your account within minutes. </div>
					</div> 
				</div>	
				
				<div class="featureWrapper clearfix">						
					<div class="featureBox featureLeft">
						<div class="featureHeadline"><span class="slidesLiveBlue">Total</span> conference <span class="slidesLiveBlue">Sync</span></div>
						<div class="featureBody">Published presentations are accessible to the entire world via your SlidesLive account. The presentation may be added to a website for greater visibility and even linked to YouTube. Or, you can restrict access to a select group. The choice is yours. </div>                    
					</div> 
 					<div class="featureBox">                                   
						<img src="{{ asset('bundles/static/images/total-sync.png') }}" width="320" height="245" />
					</div> 
				</div>	
				<div class="featureWrapper clearfix">						
					<div class="featureBox">                                   
						<img src="{{ asset('bundles/static/images/tour-images_15.png') }}" width="475" height="245" />
					</div> 
					<div class="featureBox featureRight">
						<div class="featureHeadline">Account for <span class="slidesLiveBlue">yourself</span></div>
						<div class="featureBody">Traditional videos only tell half of the story, especially for detailed presentations. But with SlidesLive, you can have it all - video and slides - in a single package. Just send us the link to your video and the slides and we will combine them into one synchronized file for easy viewing. </div>                    
					</div>   
				</div>										                                                                                                                                     
            </div>
        </div>    
    </div>  
    
{% endblock %}

      