{% block leftPaneBody %}
{# Required values:
  Form    form;
  String  action;
#}

{% set form = accountEditForm %}
{% set action = '#' %}

<form action="{{ action }}" method='POST' {{ form_enctype(form) }} class="accountEditForm">    
      <div class="errory">{{ form_errors(form) }}{{ message }}</div>

      <div class="errory">{{ form_errors(form.username) }}</div>
      <div class="radek">
        {{ form_label(form.username) }}
        {{ form_widget(form.username, {'attr': {'class': 'policko'} }) }}
      </div>

      <div class="errory">{{ form_errors(form.description) }}</div>
      <div class="radek">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'policko accountDescription'} }) }}
      </div>

      <div class="errory">{{ form_errors(form.website) }}</div>
      <div class="radek">
        {{ form_label(form.website) }}
        {{ form_widget(form.website, {'attr': {'class': 'policko'} }) }}
      </div>

      <div class="errory">{{ form_errors(form.primaryFolderId) }}</div>
      <div class="radek">
        {{ form_label(form.primaryFolderId) }}
        {{ form_widget(form.primaryFolderId, {'attr': {'class': 'policko'} }) }}
      </div>

      <div class="errory">{{ form_errors(form.showHeader) }}</div>
      <div class="radek">
        {{ form_label(form.showHeader) }}
        {{ form_widget(form.showHeader, {'attr': {'class': 'policko'} }) }}
      </div>

      <div class="errory">{{ form_errors(form.showFooter) }}</div>
      <div class="radek">
        {{ form_label(form.showFooter) }}
        {{ form_widget(form.showFooter, {'attr': {'class': 'policko'} }) }}
      </div>

      <div class="errory">{{ form_errors(form.privacy) }}</div>
      <div class="radek">
        {{ form_label(form.privacy) }}
        {{ form_widget(form.privacy, {'attr': {'class': 'policko'} }) }}
      </div>

      <div class="errory">{{ form_errors(form.old_password) }}</div>
      <div class="radek">
        {{ form_label(form.old_password) }}
        {{ form_widget(form.old_password, {'attr': {'class': 'policko'} }) }}
      </div>

      <div class="errory">{{ form_errors(form.new_password) }}</div>
      {% for repeated in form.new_password %} 
        <div class="radek">
          {{ form_label(repeated) }}
          {{ form_widget(repeated, {'attr': {'class': 'policko'} }) }}
        </div>
      {% endfor %}
        
    {{ form_rest(form) }}
    
    <input type='submit' value='Save changes' formnovalidate> {# formnovalidate #}
    </form>           

{% endblock %}
