{% extends 'SlidesLiveBundle::layout.html.twig' %}
{#
  Required values:
    Presentation|null           presentation
    Array<Presentation>|null    presentations
    Template                    presentationEditForm
    Template                    thumbnailUploadForm    
    Template                    folderEditForm                    
#}

{% block title %}Your Presentations{% endblock %}

{% block content %}

  {% if presentationEditForm is not empty %}
  
    <h2>Edit Presentation</h2>
    <table>
      <tr>
        <td>
          <img src="{{ asset(presentation.getThumbnail(true)) }}" width="200" alt=""/>
          {{ thumbnailUploadForm.content|raw }}        
        </td>
        <td>
          {{ presentationEditForm.content|raw }}
        </td>
      </tr>
    </table>
    <hr/>
    
  {% endif %}  
  
  <h2>My Presentations</h2>
  
  {% if presentations is null %}
    <p>There are no presentations in your channel.</p>
  {% else %}
    {% for p in presentations %}
       <div class="presentation_summary_box">
        <h3>{{ p.title }}</h3>
        <table>
          <tr>
            <td>
              <img src="{{ asset( p.getThumbnail(true) ) }}" class="presentation_summary_thumbnail" title="" alt="" width="280" />
              <a href="{{ path('managePresentations', { 'presentationId': p.id }) }}" class="presentation_edit_link">Edit</a>
            </td>
            <td>
              <ul>
                <li>
                  <strong>Title:</strong> {{ p.title }}
                </li>
                <li>
                  <strong>Description:</strong> {{ p.description }}
                </li>
                <li>
                  <strong>Length:</strong> {{ p.length }} min.
                </li>
                <li>
                  <strong>Language:</strong> {{ p.language }}
                </li>
                <li>
                  <strong>Date:</strong> {{ p.getFormatedDate }}
                </li>
                <li>
                  <strong>Slides included:</strong>
                  {% spaceless %}
                    {% if p.slides in [1] %}
                      Yes
                    {% else %}
                      No
                    {% endif %}
                  {% endspaceless %}
                </li>
                
              <ul>
            </td>
          </tr>
        </table>
       </div>                
    {% endfor %}
  {% endif %}
  
{% endblock %}
