{# src/SlidesLive/SlidesLiveBundle/Resources/views/Account/manageAccount.html.twig #}
{% extends 'SlidesLiveBundle::layout.html.twig' %}

{#
  Required values:
    Template accountEditForm
    Template passwordChangeForm
    Template uploadBackgroundForm
    Template uploadLogoForm
    Template uploadAvatarForm        
#}

{% block title %}Manage your account.{% endblock %}

{% block content %}
  <div>
    <h2>Edit personal data:</h2>
    {{ accountEditForm.content|raw }}
    
    <br>
    <h2>Change password:</h2>
    {{ passwordChangeForm.content|raw }}
    
    <br>
    <h2>Background Image:</h2>
    <table>
      <tr>
        <td>
          <img src="{{ asset(app.user.getImage('background-images', true)) }}" width="200" alt=""/>
        </td>
        <td>
          {{ uploadBackgroundForm.content|raw }}
        </td>
      </tr>
    </table>
    
    <br>
    <h2>Account Logo:</h2>
    <table>
      <tr>
        <td>
          <img src="{{ asset(app.user.getImage('logos', true)) }}" width="200" alt=""/>
        </td>
        <td>
          {{ uploadLogoForm.content|raw }}
        </td>
      </tr>
    </table>
    
    <br>
    <h2>Account Avatar:</h2>
    <table>
      <tr>
        <td>
          <img src="{{ asset(app.user.getImage('avatars', true)) }}" width="200" alt=""/>
        </td>
        <td>
          {{ uploadAvatarForm.content|raw }}
        </td>
      </tr>
    </table>
        
  </div>
{% endblock %}