{% extends 'SlidesLiveBundle::layout.html.twig' %}
{#
  Required values:
    Presentation|null           presentation
    Array<Presentation>|null    presentations
    Template                    presentationEditForm
    Template                    thumbnailUploadForm    
    Template                    folderEditForm                    
#}

{% block title %}Your Presentations{% endblock %}

{% block layoutContent %}
  <div class="websiteDarkBackground clearfix cancelPadding">
    <div class="blockCenterWrapper globalFont administrationPane">
		<div class="administrationFormTitle globalFont">My Presentations</div>

  {% if presentationEditForm is not empty %}
  
    <h2>Edit Presentation</h2>
    
    
        <div class="playerPanel" id="playerPanel">		
          {% include 'SlidesLiveBundle:Default:player.html.twig' with {'presentation': presentation, 'isEmbed': false, 'forcedWidth':700} %}
        </div>
            
    <table>
      <tr>
        <td>
          <img src="{{ asset(presentation.getThumbnail(true)) }}" width="200" alt=""/>
          {{ thumbnailUploadForm.content|raw }}        
        </td>
        <td>
          {{ presentationEditForm.content|raw }}
        </td>
      </tr>
    </table>
    <hr/>
    
  {% endif %}  
  
  {% if presentations is null %}
    <p>There are no presentations in your channel.</p>
  {% else %}
    {% for p in presentations %}
    <div class="presentationEditWrapper clearfix">
    	<div class="presentationEditImage" style="background-image:url({{ asset( p.getThumbnail(true) ) }})"></div>
        <div class="presentationEditInfo">
        	<div class="presentationEditTitle">{{ p.title }}</div>
        	<div class="presentationEditText">{{ p.getFormatedDate }} | {{ (p.length / 60)|number_format(0, '.', ',') }} minutes | {{ p.lang }}</div>
            <div class="syncState">
                    {% if p.video and (p.flag == 4) %}
						Video + Slides
                    {% elseif (p.flag == 3)%}
                      	Video + Slides - Synchronization failed :(
                    {% elseif (p.flag == 2)%}      
                    	Video + Slides - Right now processing
                    {% else %}      
                    	Audioslideshow
                    {% endif %}            
            </div>
        </div>
        <div class="presentationEditButtons">
        	<a href="{{ path('managePresentations', { 'presentationId': p.id }) }}" class="editButton">Edit</a>
        </div>
    </div>
    <div class="separatorLine"></div>    
         
    {% endfor %}
  {% endif %}
  
  </div>
  </div>
  
{% endblock %}
