{#
    Required values:

    Form    form;
    String  message
#}
                                              
<form class="uploadForm" action="#" method="post" formnovalidate {{ form_enctype(form) }}>

  <table>
    {% for item in form %}                       
      <tr>
        <td>
          {{ form_widget(item) }}
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td style="color: red;">
          {{ form_errors(form) }}
          {{ message }}
      </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Upload" />
        </td>
    </tr>
  </table>

  {{ form_rest(form) }}

</form>
