{#
    Required values:

    Form form;
    String formProcessLink;
    String errors
#}

<form class="uploadForm" action="" method="post" formnovalidate {{ form_enctype(form) }}>

  <table>
    <tr>
      <td>
        {{ form_widget(form.file) }}
      </td>
    </tr>
    <tr>
      <td>
          {{ form_errors(form.file) }}
      </td>
    </tr>
    <tr>
      <td>
          {{ errors }}
      </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Nahrát" />
        </td>
    </tr>
  </table>

  {{ form_rest(form) }}

</form>
