{% extends 'SlidesLiveBundle::layout.html.twig' %}

{% block title %}Registration{% endblock %}    

{% block content %}
  {% set star = "<span class='mandatory'>*</span>" %}

  <h2 class="globalFont">Registration</h2>

  <div>
    <form action="{{ path('registration') }}" method='POST' {{ form_enctype(form) }} class="registrationForm">
         <div class="errory">{{ form_errors(form) }}</div> 

        <div class="errory">{{ form_errors(form.name) }}</div>
        <div class="radek">
          {{ form_label(form.name) }}{{ star|raw }}
          {{ form_widget(form.name, {'attr': {'class': 'policko'} }) }}
        </div>

        <div class="errory">{{ form_errors(form.username) }}</div>
        <div class="radek">
          {{ form_label(form.username) }}{{ star|raw }}
          {{ form_widget(form.username, {'attr': {'class': 'policko'} }) }}
        </div>

        <div class="errory">{{ form_errors(form.password) }}</div>
        {% for repeated in form.password %}
          <div class="radek">
            {{ form_label(repeated) }}{{ star|raw }}
            {{ form_widget(repeated, {'attr': {'class': 'policko'} }) }}
          </div>
        {% endfor %}
        
        {{ form_rest(form) }}
        
             <input type='submit' value='Confirm' formnovalidate> {# formnovalidate #}
        
    </form>           

    <p class='mandatory'>
      *Mandatory fields.
    </p>
  </div>
{% endblock %}
